<%- include("partials/header.ejs", {title: "My cart", categories}) %>

    <h1 class="display-2 text-center py-4">Cosul Meu</h1>

    <div class="row">
        <% products.forEach((product)=>{ %>
            <%- include('partials/cart-item.ejs', {item: product}) -%>
        <% }) %>
    </div>

<%- include("partials/footer.ejs") %>
