<%- include("partials/header.ejs", {title: "Confiramre comanda", categories}) %>

    <div class="text-center">
        <h1 class="display-2 py-4">Comanda ta a fost confirmata!</h1>
        <p class="lead">Iti multumim ca ai ales sa cumperi produsele noastre. Te mai asteptam!</p>
    
        <a href="/" class="btn btn-dark btn-lg">Inapoi la pagina principala</a>
    </div>

<%- include("partials/footer.ejs") %>