<%- include('../partials/header.ejs', {title , categories}); -%>
    <h1 class="display-2 py-4 text-center">Adauga un produs nou</h1>


    <form class="row g-3" id="add-product" action="/products/add-product" method="POST" enctype="multipart/form-data">
        <div class="col-3">
            <label for="name" class="form-label">Nume</label>
            <input required type="text" class="form-control" name="name">
        </div>
        <div class="col-1">
            <label for="id" class="form-label">id</label>
            <input required type="text" name="id" class="form-control">
        </div>
        <div class="col-2">
            <label for="stock" class="form-label">stoc</label>
            <input required type="number" name="stock" class="form-control">
        </div>
        <div class="col-3">
            <label class="form-label" for="size">Marime</label>
            <select class="form-select" aria-label="Selecteaza marimea" name="size">
                <option value="S" selected>S - Mic</option>
                <option value="M">M - Mediu</option>
                <option value="L">L - Mare</option>
            </select>
        </div>
        <div class="col-3">
            <label class="form-label" for="price">Pret</label>
            <input required type="number" name="price" class="form-control">
        </div>
        <div class="col-6">
            <label for="image" class="form-label">Poza produs</label>
            <input required type="file" name="product-image" class="form-control">
        </div>
        <div class="col-6">
            <label for="colors" class="form-label">Culori</label>
            <input required type="text" name="color" class="form-control" placeholder="roz,alb,albastru">
            <p>Te rog sa scrii culorile sub forma "culoare1,culoare2,culoare3"</p>
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Descriere</label>
            <input required type="text" name="description" class="form-control">
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-dark btn-lg">Adauga produsul</button>
            <a href="/products" class="btn btn-danger btn-lg">Cancel</a>
        </div>
    </form>

<%- include('../partials/footer.ejs'); -%>